:root {
    --primary: #16778a;
    --secondary: #8c38ff;
    --dark: #052863;
    --light: rgba(99, 215, 250, 0.309);
    --dark: #000000c8;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    color: var(--black);
  }
  

#container{
    display: grid;
    min-height: 100vh;
    padding: 16px;
    background: linear-gradient(-45deg, #fb9b7e, #ffa4c7, #52c8f3, #36f6c9);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    size: 100%;
  }

  @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

main{
    grid-area: main;
}
#transactions{
    flex-direction: column;
}
#atm{
  flex-direction: column;
  align-items: center;
}

/* #transactionPage {
    color: var(--black);
}

#transactionPage label{
    color: var(--black);
} */

#history{
    padding: 10px;
    color: var(--black);
    font-size: 12px;
    font-weight: 300;
    word-wrap: break-word;
    height: auto;
    border-style: groove;
    border-color: #000000;
    background-color: white;
  }
